html {
  scroll-behavior: smooth;
  /* overflow-x: hidden; */
}

/* Hide scrollbar */
body::-webkit-scrollbar {
  width: 1rem; /* Remove scrollbar space */
  background: transparent; /* Optional: Set a transparent background */
}

/* Optional: Show scrollbar track and customize */
body::-webkit-scrollbar-thumb {
  background-color: #ff415e;
  border-radius: 1rem;
}
/* <--Navbar--> */
nav {
  position: fixed;
  top: 0;
  height: 3rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 50;
}

.logo {
  height: 1.5rem;
  cursor: pointer;
}
/* Remove default anchor styles */
.nav-items a {
  text-decoration: none;
  color: inherit;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  transition: background-color 0.3s;
}

.nav-items a:hover {
  background-color: #ff5972;
  color: white;
}

/* <--Contact Us--> */
.contactUs {
  padding: 4% 0 4% 12%;
  display: flex;
  gap: 1rem;
}

.contactUsText {
  max-width: 30rem;
  align-content: center;
}
.grayParagraph {
  font-size: 1rem;
  color: gray;
}

.blackH1 {
  font-family: "Gothic A1", sans-serif;
  font-weight: bolder;
  -webkit-text-stroke: 1px black;
  font-size: 2.3rem;
  margin: 1rem 0 1rem 0;
}
.redH2 {
  font-family: "Gothic A1", sans-serif;
  font-weight: bold;
  font-style: normal;
  letter-spacing: 1px;
  font-size: 1.3rem;
  color: #ff5972;
}

.contactUsImage {
  padding: 3rem 0 0 2rem;
}
.contactUsImage img {
  height: 27rem;
  border-radius: 0.8rem;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.contactBtn {
  height: 2.5rem;
  width: 8rem;
  background-color: #ff415e;
  color: white;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  transition-duration: 0.2s;
  text-align: center;
}
.contactBtn:focus,
.contactBtn:active {
  outline: none;
  box-shadow: none;
}

.contactBtn:hover {
  scale: 1.03;
}

.modal-header,
.modal-footer {
  border: none;
}

.form-header {
  font-size: 2rem;
  font-weight: 600;
  padding-top: 1rem;
  color: rgb(50, 50, 50);
}

.form-group-input {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  align-items: center;
}
.form-group-email {
  grid-column: span 2;
}

input {
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 0.6rem;
  width: 100%;
  transition: border-color 0.2s ease-out;
}

input:focus {
  outline: none;
  border-color: #ff5972;
}

.input-container {
  position: relative;
}

.placeholder {
  position: absolute;
  left: 10px;
  top: 10px;
  color: #767676;
  font-weight: 600;
  pointer-events: none;
  transition: top 0.3s, color 0.3s;
}

.placeholder.active {
  top: -20px;
  color: #949494;
}

.form-group-checkbox {
  padding-top: 1rem;
  display: flex;
  align-items: start;
  font-size: 1rem;
  font-weight: 600;
  color: #9b9b9b;
}

.form-group-checkbox input[type="checkbox"] {
  margin: 0.5rem 0.5rem 0 0.5rem;
}

.form-group-checkbox input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  border: 2px solid lightgray;
  border-radius: 0.2rem;
  background-color: transparent;
  height: 1rem;
  width: 1.5rem;
  cursor: pointer;
  position: relative;
}

.form-group-checkbox input:checked {
  border: 1.7px solid #ff5972;
  background-color: #ff5972;
}

.form-group-checkbox input::after {
  content: "";
  position: absolute;
  bottom: 10%;
  left: 25%;
  transform: translate(-50%, -50%);
  width: 0.4em;
  height: 0.8em;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  opacity: 0;
}

.form-group-checkbox input:checked::after {
  opacity: 1;
}

.formBtn {
  height: 3rem;
  width: 100%;
  background-color: #ff415e;
  color: white;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  transition-duration: 0.2s;
  text-align: center;
}
/* .formBtn:focus,
.formBtn:active {
  outline: none;
  box-shadow: none;
} */

#what-we-do{
  scroll-margin-top: 5rem;
}
.whatWeDo {
  margin: 6% 6% 4% 12%;
}

.whatWeDoFlexText {
  width: 80%;
  display: flex;
  gap: 10%;
  margin: 2rem 0 3rem;
}

.whatWeDoFlexText .blackH1 {
  width: 60%;
}

.whatWeDoFlexText .grayParagraph {
  font-size: 0.9rem;
  width: 75%;
  align-self: end;
}

.whatWeDo .wrapper {
  width: 100%;
}

.carousel {
  height: 24rem;
  overflow: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
  transition: scroll-left 5s ease-in-out;
}

.dots {
  text-align: start;
  margin-top: 1rem;
}

.dot {
  position: relative;
  height: 0.8rem;
  width: 0.8rem;
  margin: 0 0.3rem;
  background-color: gray;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dot.active {
  background-color: #ff415e;
}
.dot.active::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 1.5rem;
  width: 1.5rem;
  border: 2px solid #ff415e;
  border-radius: 50%;
  z-index: -1;
}

.imgContainer {
  display: inline-block;
  position: relative;
  height: 22rem;
  width: 15rem;
  cursor: default;
  object-fit: cover;
  user-select: none;
  margin-right: 1rem;
}

.imgContainer > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.layer {
  position: absolute;
  top: 0;
  right: 0;
  height: 0;
  width: 0;
  text-align: center;
  background-color: #ff415e;
  color: white;
  overflow: hidden;
  transition: height 0.25s ease-out, width 0.25s ease-out, padding 0.35s;
  z-index: 5;
}

.imgContainer:hover .layer {
  height: 100%;
  width: 100%;
  padding-top: 5rem;
}
.icon {
  width: 2.5rem;
  margin-bottom: 1.5rem;
}
.layer > h3 {
  font-size: 1.2rem;
  font-weight: 400;
}
.layer > p {
  font-size: 0.7rem;
  padding: 1rem;
  text-wrap: wrap;
}

.layer .btn {
  padding-top: 4%;
  height: 2.5rem;
  width: 70%;
  color: #ff415e;
  background-color: white;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 700;
  border-radius: 0;
  outline: none;
}
.layer .btn:focus {
  outline: none;
  box-shadow: none;
}

.arrow {
  margin: 0 0 0.1rem 0.4rem;
  width: 2rem;
}

.whyChooseUs {
  text-align: center;
  margin: 10% 5% 10% 10%;
}
#why-choose-us {
  scroll-margin-top: 6rem;
}
.whyChooseUs .cardContainer {
  display: flex;
  justify-content: space-evenly;
  text-align: left;
}
.whyChooseUs .cardContainer img {
  height: 3rem;
  width: 3rem;
  -webkit-user-drag: none;
  user-select: none;
}
.card {
  border: none;
  width: 20%;
  margin-top: 2rem;
  cursor: default;
  padding: 1rem 1rem 0.5rem 1.5rem;
  transition: all 0.2s;
}
.card:hover {
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.3);
}
.card h3 {
  font-size: 1rem;
  font-weight: 600;
  margin: 1rem 0 0.5rem 0;
}
.card p {
  font-size: 0.8rem;
}

#our-projects {
  scroll-margin-top: 4rem;
}

.ourProjects {
  margin: 5% 5% 5% 10%;
  text-align: center;
}
.ourProjects .blackH1 {
  font-size: 2.3rem;
}
.ourProjects .wrapper {
  margin-top: 2rem;
  display: flex;
  width: 100%;
}
.ourProjects .wrapper img {
  margin-right: 2rem;
  height: 28rem;
  width: 38rem;
  border-radius: 4px;
}
.line-container {
  cursor: pointer;
  height: 28rem;
  width: 20rem;
  border-radius: 4px;
  overflow: hidden;
  text-align: left;
}
.line {
  transition: 0.5s;
  padding: 1.7rem 2rem 0 2rem;
  height: 33.33%;
  background-color: rgb(235, 235, 235);
}
.line.active,
.line:hover.active {
  background-color: #ff415e;
  color: white;
}
.line:hover {
  background-color: #fec0c0;
}
.line h3 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  font-weight: 600;
}
.line p {
  font-size: 0.9rem;
  color: black;
  font-weight: 400;
}

#experts-growth{
  scroll-margin-top:3rem ;
}
.expertsGrowth {
  margin: 5% 0% 5% 0%;
  padding: 2% 10% 5% 10%;
  text-align: center;
  background-color: rgb(230, 230, 230);
}

.expertsGrowth .wrapper {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}
.expertsGrowth .card {
  align-items: center;
  background-color: white;
  padding: 1rem;
}

.expertsGrowth .card img {
  height: 2.5rem;
  width: 2.5rem;
  -webkit-user-drag: none;
  user-select: none;
}
.expertsGrowth .card h3 {
  font-family: sans-serif;
  font-size: 2.5rem;
  font-weight: 300;
}
.expertsGrowth .card p {
  color: #767676;
  font-weight: 600;
}
.expertsGrowth .card:hover {
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
}

.clientsFeedback {
  margin: 5% 5% 0% 10%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.feedbackWrapper {
  margin: 1rem;
  background-image: url(/Web-dev-Assignment/public/quotes.png);
  background-repeat: no-repeat;
  background-size: 10%;
  background-position-x: 0rem;
  background-position-y: 0.6rem;
  padding: 2rem ;
  width: 60%;
  text-align: left;
  align-items: start;
}
.feedbackWrapper h4 {
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
  color: #000000;
  font-weight: 300;
  line-height: 1.6;
}
.feedbackWrapper h3 {
  margin: 2rem 0;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: #767676;
}
.redSpan{
  color: #ff415e;
  font-weight: 600;

}

footer {
  height: 10rem;
  width: 100%;
  background-color: #ff415e;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer img {
  cursor: pointer;
}
